body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh -70px);
}

.user-icon{
    width: 200px;
    height: 200px;
    margin: 10px 50px;
}

.info-box{
    display: flex;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 0;

}
.info-box .text-box{
    flex: 1;
}

.main p{
    font-weight: bold;
    font-size: 20px;
    padding-left: 40px;
    margin: 10px 0;
}

.main .title{
    height: 40px;
    position: relative;
    margin: 10px 0;
    background-image: url('../images/banner.png');
    overflow: cover;
    padding-left: 20px;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 50px;
}
.main .title p{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;
}
.main .title .edit-button{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
}
.main .title .edit-button:hover{
    cursor: pointer;
}
.main .title .edit-button img{
    width: 100%;
}


.main .info{
    font-weight: normal;
    width: 100%;
}
