<style>
    .footer{
	margin-top: 200px;
	background-color: gray;
	height: 200px;
	color: white;
	padding-left: 20px;
	padding-top: 10px;
    width: 100%;
}
</style>

<div class="footer">
    <p style="font-weight: bold; font-size: 20px;">DISCLAIMER: THIS IS A REPLICATION OF COURSERA.COM, FOR EDUCATION PURPOSES ONLY</p>
    <p style="font-weight: bold; font-size: 20px;">Properties of Ho Chi Minh University of Technology </p>
    <p style="font-style: italic;">Developed by Group 7 - L08 of class Database System (CO2014) semester 251</p>
</div>